.comments
    text-align: left
    margin: 0 auto
    width: 25vw
    .spaceComments 
        background: rgba(0, 0, 0, 0.9)
        height: 75vh
        font-size: 20px
        overflow-y: scroll
        line-height: 4vh
        .flex 
            display flex
            img 
                margin: 15px 0 0 15px
                width: 40px
                height: 40px
            .text   
                margin: 15px 15px 0 15px
        p   
            margin: 0 0 0 70px
    input 
        width: 25vw
        height: 5vh
        font-size: 20px
        border: none
        background: rgba(43,43,43,0.9)
        color: white
        