// GameChoice

h2 
    font-size: 60px
    margin: 80px 0 0 0
span 
    font-size: 40px
.firstDiv
    display flex
    gap: 50px
    justify-content: center
    height: 190px
    margin: 80px 0
    .firstp
        margin: 60px 0 0 0
        line-height: 8vh
        font-size: 40px
        width: 20vw
        height: 8vh
        border-radius: 10px
        background: royalBlue
        box-shadow: 10px 10px rgba(0, 0, 0, 0.5)
    .secondDiv
        display flex
        gap: 50px
        .thirdDiv
            .secondp
                box-shadow: 10px 10px rgba(0, 0, 0, 0.5)
                margin: 23px 0
                font-size: 35px
                width: 23vw
                border-radius: 10px
                background: rgb(203,14,8)
                cursor pointer
                transition: 0.3s
            .secondp:hover
                transform: scale(1.2)
                text-decoration: underline
                box-shadow: 12px 12px rgba(0, 0, 0, 0.5)

// Game 

.Game
    display none
    border-radius: 10px
    height 60vh
    background: rgba(0, 0, 0, 0.5)
    width: 70vw
    margin: 30px auto
    .timer
        margin: auto 50px auto 0
        .gif
            width: 5vw
        .time
            font-size: 40px
            width: 5vw
            color: black
            background: white
            border-radius: 10px
    .GameFlag
        height: 30vh
        margin: auto 0 auto 50px
    .GameCC
        border-radius: 20vh
        line-height: 30vh
        height: 30vh
        width: 20vw
        margin: auto 0 auto 50px
        font-size: 70px
        color: black
        background: rgba(255, 255, 255, 0.8)
    div  
        margin: auto 50px
        #h
            line-height: 70px
            font-size: 50px
        input
            font-size: 40px
            width: 15vw
            border: none
            padding: 10px 5px

// score

.score
    display none
    border-radius: 10px
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.5)
    text-align: center
    width: 70vw
    height 60vh
    margin: 30px auto
    div
        font-size: 70px
        p  
            margin: 0 0 50px 0 
        .option
            border-radius: 10px
            cursor pointer
            transition: 0.3s
            box-shadow: 10px 10px rgba(0, 0, 0, 0.5)
        .option:hover
                transform: scale(1.2)
                text-decoration: underline
                box-shadow: 12px 12px rgba(0, 0, 0, 0.5)
        #replay1
            background: rgb(203,14,8)
        #replay2
            background: rgb(203,14,8)
        #replay3
            background: rgb(203,14,8)
        #replay4
            background: rgb(203,14,8)
        #comment
            background: royalBlue
            color: white
        a  
            text-decoration: none
