@import "learn.styl"
    @import "games.styl"
        @import "comments.styl"
            @import "logIn.styl"

*
    box-sizing: border-box
    margin 0
    padding 0

::-webkit-scrollbar
    display: none


body 
    background: url(./othersImages/worldMap.jpg) no-repeat
    background-size: cover

header
    margin: 30px 0
    display flex
    justify-content: space-evenly
    .left  
        background: url(./othersImages/glob.gif) no-repeat
        background-size: contain
        width 80px
        height: 80px
    .right  
        background: url(./othersImages/glob.gif) no-repeat
        background-size: contain
        width 80px
        height: 80px
    nav 
        border-radius: 10px
        background: rgba(0, 0, 0, 0.5)
        display flex
        justify-content: center
        padding: 0 30px
        gap: 40px
        a  
            text-decoration: none
            margin: 30px 0
            color: white
            font-size: 25px
            border-radius: 10px
        a:hover
            text-decoration: underline
        div 
            margin: 8px 0
            text-align: center
            img
                width: 2.5vw 
            p
                color: white
main  
    color: white
    text-align: center
    h1 
        line-height: 100px
        margin: 200px 300px 0
        font-size: 60px
        background: rgba(0, 0, 0, 0.5)
        border-radius: 10px
        padding: 20px
.logout 
    cursor: pointer
.logout:hover
    text-decoration: underline
.logOut
    left: 0
    right: 0
    top: 120px
    position: absolute
    background: rgb(203,14,8)
    padding: 10px 5px
    border-radius: 5px
    margin: 20px 15px 0 0
    cursor pointer
    .Logout  
        border: none
        color: white
        background: rgb(203,14,8)
        cursor pointer
.LOgout
    display block

// .triangle
//     width: 0px
//     height: 0px
//     margin: 0 auto
//     border-top: 20px solid transparent
//     border-bottom: 20px solid transparent
//     border-right: 20px solid  blue
